.ps-product__shopping
        figure
            figcaption Quantity
            .form-group--number
                button.up: i.fa.fa-plus
                button.down: i.fa.fa-minus
                input.form-control(type="text" placeholder="1")
        a(href='#').ps-btn.ps-btn--black Add to cart
        a(href='#').ps-btn Buy Now
        .ps-product__actions
            a(href='#'): i.icon-heart
            a(href='#'): i.icon-chart-bars