-
    eatDrinkForBaby = [
        {
            thumbnail: 'img/products/home-kids/eat-drink/1.jpg',
            title: 'Gerber Lil Crunchies, Ounce Canister',
            vendor: 'Young Shop',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/eat-drink/2.jpg',
            title: 'Unero Military Classical Backpack',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/eat-drink/3.jpg',
            title: 'Rayban Rounded Sunglass Brown Color',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/eat-drink/4.jpg',
            title: 'Sleeve Linen Blend Caro Pane Shirt',
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/eat-drink/5.jpg',
            title: 'Men’s Sports Runnning Swim Board Shorts',
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
        {
            thumbnail: 'img/products/home-kids/eat-drink/6.jpg',
            title: 'Paul’s Smith Sneaker InWhite Color',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
    ]
-
    apparels = [
        {
            thumbnail: 'img/products/home-kids/apparels/1.jpg',
            title: 'Pampers Swaddlers Disposable Baby Diapers',
            vendor: 'Young Shop',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/apparels/2.jpg',
            title: 'Huggies Nourish & Care for Baby Wipes (4in1)',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/apparels/3.jpg',
            title: 'Pampers Baby-dry, 1 month supply',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/apparels/4.jpg',
    title: "Harry Potter Baby Boys' Layette Clothing Set",
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/apparels/5.jpg',
            title: "L'ovedbaby Unisex Baby Organic Kimono Bodysuit",
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
        {
            thumbnail: 'img/products/home-kids/apparels/6.jpg',
            title: 'Hat Baby Boys Girls Infant Newborn',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
    ]
-
    babyOut = [
        {
            thumbnail: 'img/products/home-kids/baby-out/1.jpg',
            title: 'Micro Scooter for Kids',
            vendor: 'Young Shop',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/baby-out/2.jpg',
            title: 'Lightweight Stroller',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/baby-out/3.jpg',
            title: 'Multifunction Baby Stroller/Cradle/Carrycot/Car seat',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/baby-out/4.jpg',
            title: "RSLG Universal Baby Pram Umbrella",
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/baby-out/5.jpg',
            title: "Flip 4in1 Convertible Carrier",
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
        {
            thumbnail: 'img/products/home-kids/baby-out/6.jpg',
            title: 'Hands-Free Babywearing Wraps Made',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
    ]
-
    pregnancy = [
        {
            thumbnail: 'img/products/home-kids/pregnancy/1.jpg',
            title: 'U-Shaped Maternity Pillow',
            vendor: 'Young Shop',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/pregnancy/2.jpg',
            title: 'Maternity Support Belt',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/pregnancy/3.jpg',
            title: 'Multi-Functional Mommy Backpack Waterproof',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/pregnancy/4.jpg',
            title: "SneakPeek Early Gender Prediction DNA Test",
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home-kids/pregnancy/5.jpg',
            title: "Boobie Bar - Oatmeal Chocolate Chip",
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
        {
            thumbnail: 'img/products/home-kids/pregnancy/6.jpg',
            title: 'Comfy Pregnant Nursing Tops Long Sleeve Shirt ',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
    ]

-
    searchTrending = [
    {imagePath: 'img/categories/home-kids/1.jpg', text: '#bodysuit'},
    {imagePath: 'img/categories/home-kids/2.jpg', text: '#carseat'},
    {imagePath: 'img/categories/home-kids/3.jpg', text: '#cream'},
    {imagePath: 'img/categories/home-kids/4.jpg', text: '#seat'},
    {imagePath: 'img/categories/home-kids/5.jpg', text: '#bathseat'},
    {imagePath: 'img/categories/home-kids/6.jpg', text: '#nipples'},
    {imagePath: 'img/categories/home-kids/7.jpg', text: '#carriers'},
    {imagePath: 'img/categories/home-kids/8.jpg', text: '#bag'},
    {imagePath: 'img/categories/home-kids/9.jpg', text: '#diapers'},
    {imagePath: 'img/categories/home-kids/10.jpg', text: '#crib'},
    {imagePath: 'img/categories/home-kids/11.jpg', text: '#ointment'},
    {imagePath: 'img/categories/home-kids/12.jpg', text: '#underwear'},
    {imagePath: 'img/categories/home-kids/13.jpg', text: '#woolcap'},
    {imagePath: 'img/categories/home-kids/14.jpg', text: '#boys'},
    {imagePath: 'img/categories/home-kids/15.jpg', text: '#chair'},
    {imagePath: 'img/categories/home-kids/16.jpg', text: '#pregnancy'},
    ]