-
    menuBanner = [
        {
            icon: 'icon-fire',
            text: 'Hot Promotions',
            url : '#',
        },
        {
            icon: 'icon-star',
            text: 'Best Seller',
            url : '#',
        },
        {
            icon: 'icon-fire',
            text: 'paper-plane',
            url : '#',
        },

        {
            icon: 'icon-baby-bottle',
            text: 'Eat & Drink for Baby',
            url : '#',
        },
        {
            icon: 'icon-shirt',
            text: 'Appreal for Baby',
            url : '#',
        },
        {
            icon: 'icon-baby3',
            text: 'Baby Hygiene',
            url : '#',
        },
        {
            icon: 'icon-lampshade',
            text: 'Baby Sleeping',
            url : '#',
        },
        {
            icon: 'icon-shield-check',
            text: 'Secures & Health',
            url : '#',
        },
        {
            icon: 'icon-umbrella',
            text: 'Baby Out',
            url : '#',
        },
        {
            icon: 'icon-drawers3',
            text: 'Home Wares',
            url : '#',
        },

        {
            icon: 'icon-puzzle',
            text: 'Toys',
            url : '#',
        },
        {
            icon: 'icon-woman',
            text: 'Pregnancy & Maternity',
            url : '#',
        },
        {
            icon: 'icon-bathtub',
            text: 'Shower For Baby',
            url : '#',
        },
        {
            icon: 'icon-gift',
            text: 'Gifts & Others',
            url : '#',
        },
    ]