include ../../data/menu/menu-product-categories
#navigation-mobile.ps-panel--sidebar
    .ps-panel__header
        h3 Categories
    .ps-panel__content
        +createMenu(product_categories, 'menu--mobile')