extends ../../master

block data
    include ../../utilties/product-mixins
    include ../../data/shop/shop-data
    include ../../data/shop/shop-sidebar-links
    include ../../data/shop/shop-product-features
    include ../../data/product/product-default

block append style
    link(rel="stylesheet", href="css/market-place-1.css")

block page_header
    include ../../shared/headers/header-marketplace-1
    include ../../shared/headers/categories/header-categories

block page_content
    .ps-breadcrumb
        .ps-container
            ul.breadcrumb
                li: a(href='index.html') Home
                li Shop
    .ps-page--shop
        .ps-container
            include ../../partials/shop/modules/shop-banner
            include ../../partials/shop/modules/shop-brand
            include ../../partials/shop/modules/shop-categories
            include ../../partials/shop/layout/layout-sidebar-fullwidth
            include ../../partials/shop/modules/modal-short-lastest
    include ../../partials/sections/newsletter
    include ../../shared/footers/footer
    include ../../shared/shop-filter



