.ps-home-collection
    .row
        +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-kids/1.jpg" alt="")
        +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-kids/2.jpg" alt="")
        +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-kids/3.jpg" alt="")