section.ps-home-blog
    .container-fluid
        .ps-section__content
            .row
                +column({cols: [3, 3, 4, 6, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/home/home-photo/blog-1.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta Review Product
                            a(href='#').ps-post__title Harman Kadon Onyx Studio Mini, Reviews & Experiences
                            p December 17, 2018 by
                                a(href='#')  Admin
                +column({cols: [3, 3, 4, 6, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/home/home-photo/blog-2.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta Tips & Tricks
                            a(href='#').ps-post__title B&O Play - Best Headphone For You
                            p December 17, 2019 by
                                a(href='#')  Drfuri
                +column({cols: [3, 3, 4, 6, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/home/home-photo/blog-3.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta Review Product
                            a(href='#').ps-post__title Experience Great Sound With Beats’sHeadphone
                            p Jul 09th, 2019 by
                                a(href='#')  LoganCee
                +column({cols: [3, 3, 4, 6, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/home/home-photo/blog-3.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta Review Product
                            a(href='#').ps-post__title Experience Great Sound With Beats’sHeadphone
                            p Jul 09th, 2019 by
                                a(href='#')  LoganCee