section.ps-home-testimonial
    .container
        .ps-section__wrapper
            .ps-section__left
                .ps-block--testimonial-bg.bg--top(data-background="img/home/home-photo/testimonial-1.jpg")
                    .ps-block__content
                        h3 “I'm addicted to the idea of creating things that are both deep and simple.”
                        figure
                            figcaption Alice Stephan
                            p Kiev, Ukraine
            .ps-section__right
                .ps-block--testimonial-bg.dark.bg--top(data-background="img/home/home-photo/testimonial-2.jpg")
                    .ps-block__content
                        h3 "I'm forever glad I happen to find myself in this state."
                        figure
                            figcaption Naby Keita
                            p Iasi, Romania