section.ps-home-brands
    .container-fluid
        .ps-section__header
            h3 MartFury connects 22+ million <br> creators to the world's leading visual brands
        .ps-section__content
            a(href='#'): img(src="img/home/home-photo/brand-1.png" alt="")
            a(href='#'): img(src="img/home/home-photo/brand-2.png" alt="")
            a(href='#'): img(src="img/home/home-photo/brand-3.png" alt="")
            a(href='#'): img(src="img/home/home-photo/brand-4.png" alt="")
            a(href='#'): img(src="img/home/home-photo/brand-5.png" alt="")
            a(href='#'): img(src="img/home/home-photo/brand-6.png" alt="")
            a(href='#'): img(src="img/home/home-photo/brand-7.png" alt="")