section.ps-home-share-work
    .container-fluid
        .ps-section__header
            p Join Martfury Marketplace
            h3 Share your work and start earning
        .ps-section__content
            .ps-section__left
                img(src="img/home/home-photo/share-work.png" alt="")
            .ps-section__right
                .row.ps-section__wrapper
                    .col-sm-6.col-12
                        figure
                            .ps-block--icon
                                i.icon-cash-dollar
                                h5 Make 50% Every Time You Sell
                                p A photo can sell again and again to multiple clients.
                    .col-sm-6.col-12
                        figure
                            .ps-block--icon
                                i.icon-loupe
                                h5 Always Keep Your Copyright
                                p You choose which photos you want to sell and retain the copyright to your work.
                    .col-sm-6.col-12
                        figure
                            .ps-block--icon
                                i.icon-group-work
                                h5 Make 50% Every Time You Sell
                                p A photo can sell again and again to multiple clients.
                    .col-sm-6.col-12
                        figure
                            .ps-block--icon
                                i.icon-bubbles
                                h5 24/7 dedicated support
                                p Our supporters alway 24/7 to help you anythings
                .ps-section__footer
                    a(href='#').ps-btn Become A Contributor

