.ps-home-search.bg--cover(data-background="img/home/home-photo/banner.jpg")
    .ps-section__wrapper
        .ps-section__header
            p
                strong 171,484,880
                |  stock photos, vectors and videos
            h3 The all-in-one platform for your <br/> photo and video needs.
        form(action="index.html" method="get" class="ps-form--photo-search")
            .ps-form__content
                .form-group.form-group--icon
                    input.form-control(type="text" placeholder="Search for stock images, vectors or videos.")
                    i.icon-magnifier
                select.ps-select
                    option(value=1) Photo & Videos
                    option(value=2) Vector
                    option(value=3) Icons
            .ps-form__footer
                a(href='#') Natural
                a(href='#') Digital
                a(href='#') Travel
                a(href='#') Business
                a(href='#') Animal
                a(href='#') Technology
    h5 Photo by
        a(href='#')  Harry Maguire

