//header.header.header--product(data-sticky="true")
//    nav.navigation
//        .container
//            article.ps-product--header-sticky
//                .ps-product__thumbnail
//                    img(src=producSticky.img alt="")
//                .ps-product__wrapper
//                    .ps-product__content
//                        a(href='#').ps-product__title #{producSticky.title}
//                        ul(class="ps-tab-list")
//                            li.active: a(href="#tab-1") Description
//                            li: a(href="#tab-2") Specification
//                            li: a(href='#tab-4') Reviews (1)
//                            li: a(href='#tab-6') More Offers
//                    .ps-product__shopping
//                        span.ps-product__price
//                            span $100.56
//                            del $106.22
//                        a(href='#').ps-btn  Add to Cart







